.header-container {
    padding-left: 25px;
    display: flex;
    align-items: center; /* 高さを揃えるための設定 */
}

.menu-position{
    width: 290px;
}
.menu-position a{ 
    display: block;
    margin: 15px 0; /* 必要に応じて上下の余白を調整 */
    text-align: center;
    font-size: 20px;
}
.line-right{
    border-right: 1px solid black;
    height: 100vh; /* 画面の高さを指定 */
}

.match-container{
    position: absolute;
    top: 35%;
    left: 35%;
    display: flex;
    justify-content: space-between; /* 要素間のスペースを調整 */
    align-items: center; /* 要素を垂直方向に中央揃え */
    gap: 130px; /* 要素間のスペースを指定（任意） */
}

.result-match-container, .upcoming-match-container {
    text-align: center; /* 横方向に中央揃え */
}

.result-match-container a {
    display: inline-block; /* 中央揃えが適用されるようにインラインブロックに変更 */
    margin-bottom: 10px; /* aタグとresult-matchの間に少し余白を追加 */
    font-size: 20px;
}

.upcoming-match-container a {
    display: inline-block; /* 中央揃えが適用されるようにインラインブロックに変更 */
    margin-bottom: 10px; /* aタグとresult-matchの間に少し余白を追加 */
    font-size: 20px;
}


.result-match, .upcoming-match {
    width: 250px;
    height: 400px;
    margin: 5px;
    border: solid 1px #999999;

    flex: 1; /* 要素が均等に幅を占めるようにする */
    text-align: center; /* テキストを中央に揃える */
    padding: 10px; /* パディングを追加して見栄えを良くする */
}