<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/HomeScreen.css}">
</head>
<body>
    <div class="header-container">
        <h1>CricHub 
            <a href="">
                <img src="">
            </a>
        </h1>
        <h3>User Name</h3>
    </div>
    
    <div class="menu-position line-right">
        <a href="">Team chat</a>
        <a href="">Attendance</a>
        <a href="">Game Result</a>
        <a href="">Stats</a>
        <a href="">Settings</a>
        <a href="">Log Out</a>
    </div>

    <div class="match-container">
        <div class="result-match-container">
            <a href="">Result</a>
            <div class="result-match"></div>
        </div>
        <div class="upcoming-match-container">
            <a href="">Upcoming</a>
            <div class="upcoming-match"></div>
        </div>
    </div>
    
</body>
</html>